*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,h2{
    font-family: 'Courier New', Courier, monospace;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    min-height: 100vh;

}

h1{
    text-emphasis: "🔥";
    text-align: center;
}

form, section{
    display: flex;
    flex-direction: column;
    padding: 14px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

form textarea{
    resize: none;
    width: 100%;
    min-height: 60px;
    padding: 14px;
}

form button{
    padding: 8px;
    cursor: pointer;
}

.iconbtn{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.iconbtn:hover{
    background-color: grey;
}

.buttoncontainer{
    display: flex;
    gap:6px

}

.todoContainer,
.todo {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.todo {
    padding: 14px; 
    border: 1px solid lightgray;
    border-radius: 4px;
}